:root {
    --light: #F2E9E4;
    --dark: #22223B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #837881;
    color: var(--light);
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    margin: 10px;
    padding: 10px;
}

#header button {
    font-size: 20px;
    background-color: var(--light);
    color: var(--dark);
    border: none;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: #4A4E69;
    color: var(--light);
}

button:hover {
    cursor: pointer;
}

.question {
    margin-bottom: 50px;
}

.answers {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.answers button {
    margin: 20px 50px;
}

#quiz {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

label {
    font-size: 20px;
}

input {
    font-size: 20px;
}

#scoreScreen {
    width: 500px;
    margin: auto;
}

ol {
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
}